body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
    background-image: url('../images/yellowpattern.png');
    background-repeat: repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

.information {
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(255,255,255,0.3);
}


#map {
    height: 100%;
    min-height: 700px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#tableEdit, #tableNear, #tableHandle {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
}

.tdEdit, .thEdit, .thNear, .tdNear {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media screen and (max-width: 500px) {
    #map {
        min-height: 500px;
    }

    body {
        padding-top: 35px;
    }
}

@media screen and (max-width: 400px) {
    #map {
        min-height: 400px;
    }

    body {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    #tableEdit, .theadEdit, .tbodyEdit, .thEdit, .tdEdit, .trEdit,
    #tableNear, .theadNear, .tbodyNear, .thNear, .tdNear, .trNear, #tableHandle    {
        display: block !important;
        font-weight: normal;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .theadEdit .trEdit, .theadNear, .trNear {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .thEdit, .thNear {
            font-weight: bold;
        }

    .trEdit, .trNear {
        border: 1px solid #ccc;
    }

    .tdEdit, .tdNear {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        .tdEdit:before, .tdNear:before {
            /* Now like a table header */
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        .tdEdit:nth-of-type(1):before, .tdNear:nth-of-type(1):before {
            content: "Namn:\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        }

        .tdEdit:nth-of-type(2):before, .tdNear:nth-of-type(2):before {
            content: "Adress:\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        }

        .tdEdit:nth-of-type(3):before, .tdNear:nth-of-type(3):before {
            content: "Öppettider:\00a0\00a0";
        }

        .tdEdit:nth-of-type(4):before, .tdNear:nth-of-type(4):before {
            content: "Kommentar:";
        }

        .tdEdit:nth-of-type(5):before {
            content: "";
        }
        .tdNear:nth-of-type(5):before {
            content: "Avstånd:\00a0\00a0\00a0\00a0\00a0\00a0";
        }

        .tdEdit:nth-of-type(6):before, .tdNear:nth-of-type(6):before {
            content: "";
        }

    .editButton, .saveButton, #deleteButton, .buttonNear, #deleteButtonH {
        width: 200px;
    }
}


