@using FindNearestChangingTableVersion1.Models.AdminViewModels
@model AdminIndexViewModel
@{
    ViewData["Title"] = "Admin";
}


<h2>Admin</h2>
<h3>Lägg till en ny admin</h3>
<form asp-action="AddAdmin" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<h3>Ta bort användare</h3>
<form asp-action="DeleteUser" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>

<p>@ViewData["Message"]</p>
