@using FindNearestChangingTableVersion1.Models.AdminViewModels
@model AdminIndexViewModel
@{
    ViewData["Title"] = "Admin";
}


<h3>Användarfunktioner</h3>
<h3></h3>
<h4>Lägg till en ny admin</h4>
<form asp-action="AddAdmin" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<h4>Ta bort adminrättighet från användare</h4>
<form asp-action="RemoveAdmin" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<h4>Ta bort användare</h4>
<form asp-action="DeleteUser" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<h3>Redigera eller ta bort skötbord</h3>
<h3></h3>
<h4>Sök efter namn</h4>
<form asp-action="HandleLocation" asp-controller="Admin">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<h4>Sök efter skötbord en viss användare lagt till</h4>
<form asp-action="HandleLocation" asp-controller="Admin">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>

<h4>@ViewData["Message"]</h4>

