@{
    ViewData["Title"] = "Kontakta oss";
}

<div class="information">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>
        Vi som har utvecklat den här sidan heter Anna och Andreas. Sidan är vårt slutprojekt i kursen C#.NET som genomfördes av Academy.
    </p>

    <p>
        Syftet med sidan är att personer med blöjbarn lätt ska kunna se på en karta var närmsta skötbord finns. Tanken är att ni som använder sidan själva ska lägga till platser som ni känner till så skapa gärna ett konto och lägg till dina egna platser som andra användare också kan se.
    </p>
    <p>
        Kontakta gärna oss om det är något som är oklart eller som kan förbättras med sidan.
    </p>

    <address>
        <strong>Support:</strong> <a href="mailto:NearestChangingTable@gmail.com">NearestChangingTable@gmail.com</a><br />
    </address>

</div>
