@{
    ViewData["Title"] = "Kontakta oss";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Kontakta gärna oss om det är något som är oklart eller som kan förbättras med sidan.
</p>

<address>
    <strong>Support:</strong> <a href="mailto:NearestChangingTable@gmail.com">NearestChangingTable@gmail.com</a><br />
</address>
